<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="pet.model.dto.ReviewDTO" alias="reviewDTO"/>
		<typeAlias type="pet.model.dto.PriceReviewDTO" alias="priceReviewDTO"/>
		<typeAlias type="pet.model.dto.RatingReviewDTO" alias="ratingReviewDTO"/>
		<typeAlias type="pet.model.dto.CommentReviewDTO" alias="commentReviewDTO"/>
		<typeAlias type="pet.model.dto.UploadReviewDTO" alias="uploadReviewDTO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="/pet/model/sql/reviewSQL.xml"/>
		<mapper resource="/pet/model/sql/uploadReviewSQL.xml"/>
		<mapper resource="/pet/model/sql/commentReviewSQL.xml"/>
		<mapper resource="/pet/model/sql/ratingReviewSQL.xml"/>
		<mapper resource="/pet/model/sql/priceReviewSQL.xml"/>
	</mappers>

</configuration>
